.chat-options {
  display: flex;
  align-items: center;
  width: 99px;
  height: 32px;
  &_new-message {
    width: 293px;
    height: 40px;
    margin-top: -7px;
  }

  &__item {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    &:focus {
      outline: 0;
    }


  &_add {
    background-image: url("../images/Plus.svg");
    width: 12px;
    height: 12px;
    margin-right: 14px;
  }

  &_video {
    background-image: url("../images/Video.svg");
    width: 12px;
    height: 8px;
    margin-right: 15px;
  }

  &_cog {
    background-image: url("../images/Cog.svg");
    width: 12px;
    height: 12px;
    margin-right: 9px;
  }

  &_close {
    background-image: url("../images/Close.svg");
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }

  &_picture {
    background-image: url("../images/Picture.svg");
    margin-left: 16px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }

  &_gif {
    background-image: url("../images/Gif.svg");
    width: 21px;
    height: 16px;
    margin-right: 10px;
  }

  &_smile {
    background-image: url("../images/Smile.svg");
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &_calendar {
    background-image: url("../images/Calendar.svg");
    width: 16px;
    height: 18px;
    margin-right: 10px;
  }

  &_camera {
    background-image: url("../images/Camera.svg");
    width: 21px;
    height: 17px;
  }
}}
