.chat-options {
  display: flex;
  align-items: center;
  width: 99px;
  height: 32px;
}
.chat-options_new-message {
  width: 293px;
  height: 40px;
  margin-top: -7px;
}
.chat-options__item {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
}
.chat-options__item:focus {
  outline: 0;
}
.chat-options__item_add {
  background-image: url("../images/Plus.svg");
  width: 12px;
  height: 12px;
  margin-right: 14px;
}
.chat-options__item_video {
  background-image: url("../images/Video.svg");
  width: 12px;
  height: 8px;
  margin-right: 15px;
}
.chat-options__item_cog {
  background-image: url("../images/Cog.svg");
  width: 12px;
  height: 12px;
  margin-right: 9px;
}
.chat-options__item_close {
  background-image: url("../images/Close.svg");
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.chat-options__item_picture {
  background-image: url("../images/Picture.svg");
  margin-left: 16px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.chat-options__item_gif {
  background-image: url("../images/Gif.svg");
  width: 21px;
  height: 16px;
  margin-right: 10px;
}
.chat-options__item_smile {
  background-image: url("../images/Smile.svg");
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.chat-options__item_calendar {
  background-image: url("../images/Calendar.svg");
  width: 16px;
  height: 18px;
  margin-right: 10px;
}
.chat-options__item_camera {
  background-image: url("../images/Camera.svg");
  width: 21px;
  height: 17px;
}
