.new-message {
  border-top: 2px solid #e5e5e5;
}

.new-message__option{
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: -7px;
  }
.new-message__option_picture {
   background-image: url("../images/Picture.svg");
   margin-left: 16px;
   margin-right: 10px;
   width: 16px;
   height: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 }

.new-message__option_gif {
   background-image: url("../images/Gif.svg");
   width: 21px;
   height: 16px;
   margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 }

.new-message__option_smile {
   background-image: url("../images/Smile.svg");
   width: 16px;
   height: 16px;
   margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 }

.new-message__option_calendar {
   background-image: url("../images/Calendar.svg");
   width: 16px;
   height: 18px;
   margin-right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 }

.new-message__option_camera {
   background-image: url("../images/Camera.svg");
   width: 21px;
   height: 17px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
 }

