.user {
  margin-right: 80px;
  width: 113px;
  display: inline-block;
  float: left;
}
.user__status {
  text-indent: -9999px;
  margin: 13px 8px 13px 12px;
  float: left;
  width: 6px;
  height: 6px;
  background-color: #69f0ae;
  border-radius: 50%;
}
.user__name {
  margin: 0;
  display: inline-block;
  width: 87px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: normal;
  color: #ffffff;
  overflow: hidden;
}
